@import "./_variables.scss";

body {
  background-color: $white;
  z-index: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_container {
  margin: 0;
  padding: 3rem;
  z-index: 0;
  @include center_something(absolute);
}

.card {
  z-index: 1;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem $shadow_black;
  background-color: #fff;
  color: #000;
  transition: 0.3s;
  width: 15rem;
  height: 10rem;
  border-radius: 0.5rem;

  &:hover {
    box-shadow: 1rem 1rem 1rem 1rem $shadow_black;
  }
}
.card_header {
  width: 100%;
  height: 15%;
  padding: 1rem;

  & .user_name {
    font-size: 1.5rem;
  }

  & .user_title {
    font-size: 0.7rem;
  }
  & .color_text {
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // <span>Photo by <a href="https://unsplash.com/@sharonmccutcheon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sharon McCutcheon</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    background-image: url(https://images.unsplash.com/photo-1587586291914-bdbe84ec1416?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: repeat-x;
    animation: text_with_backgorund 15s linear infinite;
  }
}
@keyframes text_with_backgorund {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000vw 0;
  }
}

.card_image_container {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  top: 1rem;
  left: 1rem;
  & img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    object-fit: cover;
  }
}

.card_content {
  width: 100%;
  height: 85%;
  margin-top: 1rem;

  & button {
    outline: none;
  }
  & .card_info {
    padding: 1rem;
    font-size: 0.7rem;
  }

  & .card_call_to_action button {
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem $shadow_black;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    cursor: pointer;
  }
  & .card_call_to_action button:hover {
    color: #fff;
    background-color: #111;
    background-image: url(https://images.unsplash.com/photo-1587586291914-bdbe84ec1416?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: repeat-x;
    animation: text_with_backgorund 30s linear infinite;
  }
}
