@import "./_variables.scss";

body {
  background-color: $white;
}

.card_container {
  font-family: verdana;
  margin: 0;
  padding: 3rem;
  z-index: 0;
  @include center_something(absolute);
}

.card {
  margin: 4rem;
  z-index: 1;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem $shadow_black;
  transition: 0.3s;
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
  }
  & i {
    @include center_something(relative);
    color: $gray;
    font-size: 10rem;
  }
}

.float_theme {
  &:hover {
    box-shadow: 1.5rem 1.5rem 1.5rem 1.5rem $shadow_black;
    //   & i {
    //   transition: 0.3s;
    //   font-size: 11rem;
    // }
  }
}

.press_theme {
  &:hover {
    box-shadow: 0 0 0 0;
    & i {
      transition: 0.5s;
      font-size: 8rem;
    }
  }
}
